@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    overflow: hidden;
    background-color: #24292E;
}
header{
    width: 100vw;
    text-align: center;
    padding: 10px;
}
.logo a{
    text-decoration: none;
    color: #d6d8da ;
}
.logo{
    float: left;
    font-size: 1.1em;
    font-weight: 500;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#mainTitle{
    font-size: 3.7em;
    margin: .9em;
    color: #9da5b4 ;
}
main{
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 50px;
}
.handButton{
    border: 1px solid #fff;
}
.handDisplay{
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    background-color: #1B1D23;
}
.grid{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 100px);
}
.block-1{
    grid-row: 1/;
}


#middle h4, #roundCount{
    font-size: 2em;
    color: #d6d8da;
    font-weight: 600;
    width: 150px;
    text-align: center;
}
#roundCount{
    display: block;
}

