@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    overflow-x: hidden;
    background-color: #24292E;
}
.masterContainer{
    width: 73%;
    margin: auto;
}
header{
    width: 100vw;
    padding: 20px;
    font-size: 3em;
    font-weight: 500;
    color: #9da5b4 ;
}
header::selection, #middle h4::selection, #roundCount::selection {
    background-color: #707274;
}
.logo a{
    text-decoration: none;
    color: #d6d8da ;
}
.logo{
    font-size: 1vw !important;
    font-weight: 500;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#controlButtons{
    width: 100%;
    background: #1B1D23;
    height: 50px;
    position: sticky;
    overflow: hidden;
}
#controlButtons ul{
    list-style-type: none;
    margin: 0;
}
#controlButtons li{
    float:  left;
}
#controlButtons a{
    float: left;
    padding: 11px 20px;
    color: #707274;
    font-size: 1.1em;    
    text-decoration: none;
}
#controlButtons a:hover{
    background-color: #24292E;
}
.activeButton{
    background-color: #24292E;
}
main{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-top: 20px;
}
#flex{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 50px;
}
.grid{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 100px);
}
.block-1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.block-2{
    grid-row: 2/3;
    grid-column: 1/2;
}
.block-3{
    grid-row: 3/4;
    grid-column: 1/2;
}
.handButton{
    border: 1px solid #9da5b4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.handDisplay{
    width: 300px;
    height: 300px;
    border: 1px solid #9da5b4;
    background-color: #1B1D23;
    position: relative;
}
#middle h4{
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    color: #d6d8da;  
}
#roundCount, #tie{
    font-size: 2em;
    font-weight: 600;
    color: #d6d8da;
}
table{
    width: 200px;
}
#player1Score, #player2Score{
    color: #DBAB09;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
}
#player1Score::selection, #player2Score::selection{
    background-color: #707274;
}
#player1Score{
    right: -50px;
    top: 0;
    width: 50px;
    border-top: 1px solid #9da5b4;
    text-align: center;
}
#player2Score{
    left: -50px;
    bottom: 0;
    width: 50px;
    border-bottom: 1px solid #9da5b4;
    text-align: center;
}
.rock{
    background-image: url(../img/Rock.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.paper{
    background-image: url(../img/Paper.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.scissors{
    background-image: url(../img/Scissors.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
#helpSection{
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}
#help-container{
    width: 73%;
    margin: auto;
}
#help-container h3{
    margin: 30px 0;
    font-size: 2em;
    color: #9da5b4;
}
#help-container p{
    font-size: 1.1em;
    color: #fff;
}
#help-container a{
    text-decoration: none;
    color: #707274;
}
#help-container ul{
    list-style-type: none;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
#rulesImg{
    width: 500px;
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #1B1D23; 
}
::-webkit-scrollbar-thumb {
background: #1B1D23; 
}
::-webkit-scrollbar-thumb:hover {
background: #707274; 
}
@keyframes flsh{
    0%{
        color: red;
    }
    100%{
        color: #d6d8da;
    }
}